body {
    background: #0e1117;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

.container {
    display: inline-block;
    margin-top: 40px;
}

.text {
    font-size: 6em;
    letter-spacing: 10px;
    font-family: 'Blippo', fantasy;
    border-right: 5px solid;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 0.55s steps(20, end) forwards,
        cursor .6s step-end infinite alternate,
        gradient 5s linear infinite;
    color: transparent;
    background-image: linear-gradient(to left, #7289da, #3498db, #b9b9b9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-size: 500%;
    background-size: 500%;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes cursor {
    50% { border-color: transparent; }
}

@keyframes gradient {
    0% { background-position: 0 100%; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 100%; }
}

